<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="navigation.html :: navigation"></nav>
<div class="container mt-5">
    <div class="card">
        <div class="card-header"> Add book</div>
        <div class="card-body">
            <form action="#" class="form-horizontal"
                  th:action="@{/authors/create}"
                  th:object="${newAuthor}"
                  method="post">
                <div class="form-group col-md-6">
                    <label for="name"> Name </label>
                    <input type="text"
                           name="name"
                           id="name"
                           class="form-control"/>
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-danger"></span>
                </div>

                <div class="row">
                    <div class="col-md-6 mt-5">
                        <input type="submit" class="btn btn-primary" value="Create">
                        <a class="btn btn-info" href="#" th:href="@{/authors}"> Back to All Authors </a>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
