<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="navigation.html :: navigation"></nav>



<div th:switch="${books}" class="container mt-5">
    <div class="card">
        <table class="table table-striped">
            <thead>
            <tr>
                <th> Title </th>
                <th> Author </th>
                <th> Genre </th>
                <th> Amount </th>
                <th> Edit </th>
                <th> Delete </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td><span th:text="${book.title}"> Title </span></td>
                <td><span th:text="${book.author}"> Author </span></td>
                <td><span th:text="${book.genre}"> Genre </span></td>
                <td><span th:text="${book.amount}"> Amount </span></td>
                <div class="row"  th:if="${#request.isUserInRole('USER')}">
                    <td><a th:href="@{/admin/books/edit/{id}(id=${book.id})}" class="btn btn-primary">Edit</a></td>
                    <td><a th:href="@{/admin/books/delete/{id}(id=${book.id})}" class="btn btn-primary">Delete</a></td>
                </div>

            </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>