<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="navigation.html :: navigation"></nav>
<div class="container mt-5">
    <div class="card">
        <div class="card-header" th:text="#{books.books_header}"> Add book</div>
        <div class="card-body">
            <form action="#" class="form-horizontal"
                  th:action="@{/books/create}"
                  th:object="${newBook}"
                  method="post">
                <div class="form-group col-md-6">
                    <label for="title" th:text="#{books.book_title}"> Title </label>
                    <input type="text"
                           name="title"
                           id="title"
                           class="form-control"/>
                </div>


                    <div class="form-group col-md-6">
                        <label for="author" th:text="#{books.book_author}">
                             Author:
                        </label>

                    <select class="custom-select" th:field="*{author}" id="author" name="author">
                        <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.name}">One</option>
                    </select>
                    <div class="input-group-append">
                        <a class="ml-1" href="/authors/create" th:text="#{books.new_author}">
                            Add new author
                        </a>
                    </div>
                    </div>


                <div class="form-group col-md-6">
                    <label for="pages" th:text="#{books.book_pages}"> Pages </label>
                    <input type="number"
                           name="pages"
                           id="pages"
                           class="form-control"
                    />
                </div>

                <div class="form-group col-md-6">
                    <label for="year" th:text="#{books.book_year}"> Year </label>
                    <input type="number"
                           name="year"
                           id="year"
                           class="form-control"
                    />
                </div>


                <div class="form-group col-md-6">
                    <label for="imgUrl" th:text="#{books.book_image}"> Image URL </label>
                    <input type="text"
                           name="imgUrl"
                           id="imgUrl"
                           class="form-control"
                    />
                </div>

                <div class="form-group col-md-6">
                    <label for="amount" th:text="#{books.book_amount}"> Amount </label>
                    <input type="number"
                           name="amount"
                           id="amount"
                           class="form-control"
                    />
                </div>

                <div class="row">
                    <div class="col-md-6 mt-5">
                        <button type="submit" class="btn btn-primary" th:text="#{books.book_create}"></button>
                        <a class="btn btn-info" href="#" th:href="@{/books}" th:text="#{books.back}"> Back to All Books </a>
                    </div>
                </div>

            </form>
        </div>

    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
