<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/index.css}">
</head>
<body>
<nav th:replace="navigation.html :: navigation"></nav>


<div class="container">
    <br/>
    <div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form class="card card-sm" th:action="@{/search}" th:method="get">
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fas fa-search h4 text-body"></i>
                    </div>
                    <!--end of col-->
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" name="bookTitle" th:value="${searchValue}" type="search"
                               placeholder="Search topics or keywords">
                    </div>
                    <!--end of col-->
                    <div class="col-auto">
                        <button class="btn btn-lg btn-success" type="submit">Search</button>
                    </div>
                    <!--end of col-->
                </div>
            </form>
        </div>
        <!--end of col-->
    </div>
</div>


<div class="container mt-5">

    <!-- Main card element -->
    <div class="card bg-light">
        <div class="card-header">
            <i class="fas fa-book"></i> Books
        </div>
        <div class="card-body">
            <!-- Page Content will wrap here -->
            <table th:each="book, iStat : ${books}">

                <tbody>
                <tr style="border-bottom: 1px solid black">
                    <td th:text="${iStat.count}" width="5%" class="h3" style="padding-left: 15px;"></td>

                    <td width="10%" th:switch="${book.amount}">
                        <img th:src="${book.imgUrl}" alt="Book Cover Photo" width="100%"/>
                        <div class="row justify-content-center">
                            <span th:case="0" class="h6"
                                  style="background-color: red; margin-top: 3px">Not Avaible</span>
                            <span th:case="*" class="h6"
                                  style="background-color: lawngreen; margin-top: 3px">Avaible</span>
                            <!--                            <img th:case="0" src="/img/icon_red.png" style="width: 15px;height:15px;position: center"/>-->
                            <!--                            <img th:case="*" src="/img/icon.png" style="width: 15px;height:15px "/>-->
                        </div>
                    </td>
                    <td width="100%" style="padding-left: 35px; padding-top: 15px;">
                        <h5 id="book-title" th:text="${book.title}">Book Title</h5>

                        <span> by </span>
                        <span th:text="${book.author.name}">Book Author name</span>
                        <br>
                        <div style="padding-top: 15px;">
                            <span> Pages: </span>
                            <span th:text="${book.pages}">Pages</span>
                            <span class="h6"> | </span>
                            <span> Year: </span>
                            <span th:text="${book.year}">Year</span>
                        </div>
                        <br>

                        <div sec:authorize="isAuthenticated()">
                            <form th:action="@{/books/take/{id} (id=${book.id})}" method="post">
                                <button type="submit" class="btn btn-success ml-4 mb-3">
                                    Take
                                </button>
                            </form>
                        </div>
                    </td>


                    <td class="row justify-content-center" style="padding-top: 25px">

                        <div sec:authorize="hasAuthority('ADMIN')">

                            <a th:href="@{/books/edit/{id}(id=${book.id})}" class="btn btn-danger mr-3"
                               style="width: 100px"> Update</a>

                            <br>

                            <a th:href="@{/books/delete/{id}(id=${book.id})}" class="btn btn-danger mt-3"
                               style="width: 100px"> Delete</a>

                        </div>
                        <hr style="width: 250px; visibility: hidden"/>

                    </td>


                </tr>


                </tbody>
            </table>

        </div>
    </div>
</div>


</body>

<footer></footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</html>