<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>Registration form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<nav th:replace="navigation.html :: navigation"></nav>


<div class="container mt-5">
    <div class="card">
        <div class="card-header" th:text="#{registration.header}"> Registration </div>
        <div class="card-body">
            <form th:action="@{/registration}" method="post">
                        <label for="username" th:text="#{registration.username}">Username </label>
                        <input type="text"
                               name="username"
                               id="username"
                               class="form-control"
                        />

                        <label for="password" th:text="#{registration.password}">Password</label>
                        <input type="password"
                               name="password"
                               id="password"
                               class="form-control"
                        />

                        <label for="email" th:text="#{registration.email}">Email</label>
                        <input type="email"
                               name="email"
                               id="email"
                               class="form-control"
                        />

                        <label for="phone_number" th:text="#{registration.phone}">Phone number</label>
                        <input type="text"
                               name="phone_number"
                               id="phone_number"
                               class="form-control"
                        />


                <button type="submit" class="btn btn-success mt-3" th:text="#{registration.button}">Submit</button>
            </form>
        </div>

    </div>
    <div class="card-footer" th:text="${result}"></div>
</div>

<footer ></footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
